<div class="jumbotron container">
    <form name="loginForm" class="form-signin" role="form" ng-submit="login(credentials)">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username">Username:</label>
        <input type="text" class="form-control" placeholder="Username" required="" autofocus="" id="username"
               ng-model="credentials.username">
        <label for="password">Password:</label>
        <input type="password" class="form-control" placeholder="Password" required="" id="password"
               ng-model="credentials.password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>
