<button class="btn btn-default" type="button" id="downloadTenantCSVFile"
        ng-click="downloadTenantCSVFile()"><span class="glyphicon glyphicon-download"></span></button>

<div loading-container="tableParams.settings().$loading">
    <table ng-table="tableParams" show-filter="true" class="table">
        <tbody ng-repeat="tenant in $data">
        <tr id="tr{{user._id}}" ng-class-odd="'odd'" ng-class-even="'even'">
            <td class="rowTd" data-title="'UserId'" sortable="'userId'">{{user.userId}}</td>
            <td class="rowTd" data-title="'Firstname'" sortable="'firstName'">{{user.firstName}}</td>
            <td class="rowTd" data-title="'Lastname'">{{user.lastName}}</td>
            <td class="rowTd" data-title="'Email'">{{user.email}}</td>
            <td class="rowTd">
                <button class="btn btn-default" type="button" id="editRowBtn{{user._id}}"
                        ng-click="editUser(user._id)"><span class="glyphicon glyphicon-edit"></span></button>
            <td class="rowTd">
                <button class="btn btn-default" type="button" id="removeRowBtn{{user._id}}"
                        ng-click="deleteUser(user._id)"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
