<div class="row">
    <div class="col-md-12">
        <!--<button class="btn btn-default" type="button" id="createNewTenant"-->
                <!--ng-click="createNewTenant()">Create New Tenant-->
        <!--</button>-->
        <button class="btn btn-default" type="button" id="downloadTenantCSVFile"
                ng-click="downloadTenantCSVFile()"><span class="fa fa-download"></span></button>
    </div>
</div>
<div class="row">
    <div class="col-md-12 table-col">
        <table ng-table="tenantGrid" class="table ng-table-rowselected">
            <tr ng-repeat="tenant in $data" id="tr{{tenant._id}}"
                ng-click="select(tenant)" ng-class="{'selected' : tenant.$selected}">
                <td data-title="'TenantName'">
                    {{tenant.tenantName}}
                </td>
                <td data-title="'Created At'">
                    {{tenant.createdAt}}
                </td>
                <td>
                    <button class="btn btn-default" type="button" id="showTenant{{tenant._id}}"
                            ng-click="showTenant(tenant._id)"><span class="fa fa-list-ul"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
