<button class="btn btn-default" type="button" id="downloadTenantCSVFile"
        ng-click="downloadTenantCSVFile()"><span class="glyphicon glyphicon-download"></span></button>

<table ng-table="tableParams" show-filter="true" class="table">
    <tr ng-repeat="tenant in $data" id="tr{{tenant._id}}" ng-class-odd="'odd'" ng-class-even="'even'">
        <td data-title="'TenantName'" filter="{ 'tenant': 'text' }">
            {{tenant.tenantName}}
        </td>
        <td data-title="'Created At'">
            {{tenant.createdAt}}
        </td>
        <td>
            <button class="btn btn-default" type="button" id="editRowBtn{{tenant._id}}"
                    ng-click="editTenant(tenant._id)"><span class="glyphicon glyphicon-pencil"></span></button>
        </td>
        <td>
            <button class="btn btn-default" type="button" id="removeRowBtn{{tenant._id}}"
                    ng-click="deleteTenant(tenant._id)"><span class="glyphicon glyphicon-trash"></span></button>
        </td>
    </tr>
</table>
