<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <p class="navbar-brand">User Tenant Security</p>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/users">Users</a></li>
                <li><a href="/tenants">Tenants</a></li>
            </ul>
        </div>
    </div>
</div>