<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default" type="button" id="backButton"
                ng-click="back()" ng-show="tenantId"><span class="fa fa-arrow-circle-o-left"></span>Back
        </button>
        <button class="btn btn-default" type="button" id="createNewUser"
                ng-click="createNewUser()">Create New User
        </button>
        <button class="btn btn-default" type="button" id="downloadUserCSVFile"
                ng-click="downloadUserCSVFile()"><span class="fa fa-download"></span></button>
    </div>
</div>
<div class="row">
    <div class="col-md-12 table-col">
        <table ng-table="userGrid" class="table">
            <tr ng-repeat="user in $data" id="tr{{user._id}}"
                ng-click="select(user)" ng-class="{'selected' : user.$selected}">
                <td data-title="'UserId'">
                    {{user.userId}}
                </td>
                <td data-title="'First Name'">
                    {{user.firstName}}
                </td>
                <td data-title="'First Name'">
                    {{user.lastName}}
                </td>
                <td data-title="'Email'">
                    {{user.email}}
                </td>
                <td>
                    <button class="btn btn-default" type="button" id="editRowBtn{{user._id}}"
                            ng-click="editUser(user._id)"><span class="fa fa-pencil-square-o"></span></button>
                </td>
                <td>
                    <button class="btn btn-default" type="button" id="removeRowBtn{{user._id}}"
                            ng-click="deleteUser(user._id)"><span class="fa fa-trash"></span></button>
                </td>
            </tr>
        </table>
    </div>
</div>
