<form class="form-horizontal" role="form" ng-submit="createUser(data)">
    <section class="row">
        <h2>
            Create New User
        </h2>

        <div class="form-group">
            <label for="userID" class="col-sm-3 control-label">UserId</label>

            <div class="col-sm-9">
                <input name="userID" class="form-control" placeholder="User-ID" id="userID" type="text"
                       ng-model="data.userId">
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">FirstName</label>

            <div class="col-sm-9">
                <input name="firstName" class="form-control" id="firstName" placeholder="Jhon" type="text"
                       ng-model="data.firstName">
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Last Name</label>

            <div class="col-sm-9">
                <input name="lastName" class="form-control" id="lastName" placeholder="Michael" type="text"
                       ng-model="data.lastName">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email Address</label>

            <div class="col-sm-9">
                <input name="email" class="form-control" id="email" placeholder="jhon@example.com" type="email"
                       ng-model="data.email">
            </div>
        </div>
        <div class="form-group">
            <label for="userpassword" class="col-sm-3 control-label">Password</label>

            <div class="col-sm-9">
                <input name="userpassword" class="form-control" id="userpassword" type="password"
                       ng-model="data.password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <div class="btn-group">
                    <label class="btn btn-default" ng-class="{selected: bCreateNewTenant}" ng-model="radioModel" btn-radio="'Left'" ng-click="bCreateNewTenant=true">Create New
                        Tenant</label>
                    <label class="btn btn-default" ng-class="{selected: !bCreateNewTenant}" ng-model="radioModel" btn-radio="'Right'" ng-click="bCreateNewTenant=false">Use Existing
                        Tenant</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">TenantId</label>

            <div class="col-sm-9">
                <select class="col-sm-12" ng-model="selectedTenant" ng-options="tenant.tenantId for tenant in tenants"
                        ng-show="!bCreateNewTenant"></select>
                <input name="tenantId" class="form-control" placeholder="Tenant-ID" id="tenantId" type="text"
                       ng-model="data.tenetId" ng-show="bCreateNewTenant">
                </select>
            </div>
        </div>
        <hr>
        <div class="pull-right">
            <input name="tenant_execute" value="Execute" class="btn btn-primary" type="submit">
        </div>
    </section>
</form>
