<div class="wrapper-md">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <form name="userUpdateForm" class="form-validation">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="h4">Profile</span>
                    </div>
                    <div class="panel-body">
                        <!-- <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" ng-model="user.username"
                                   ng-pattern="/^[a-zA-Z0-9]{4,10}$/" required>
                        </div> -->
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" ng-model="user.firstName"
                                   ng-pattern="/^[a-zA-Z]{4,10}$/" required>
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" ng-model="user.lastName"
                                   ng-pattern="/^[a-zA-Z]{4,10}$/" required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" ng-model="user.email" required>
                        </div>
                    </div>
                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-primary" ng-click="updateProfile(user)"
                                ng-disabled='userUpdateForm.$invalid'>Save
                        </button>
                        <a class="btn btn-default" ng-click="cancel()">Cancel</a>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>
